color = 0 0 0

; 씬0
scene_start
fade_in = 500
keep = 500
fade_out = 3000
image = black.tga
show_bar = 0
scene_end

; 씬1
scene_start
fade_in = 3000
keep = 3000
fade_out = 3000
color = 0 0 0
image = open_loading_Logo.TGA
show_bar = 0
realtime = 1
scene_end

; 씬2
scene_start
fade_in = 3000
keep = -1
fade_out = 0
image = open_loading_image.TGA
show_bar = 1

; 로딩 게이지 이미지
gauge = Gauge.tga

; 로딩 게이지 위치
gauge_x = 52
gauge_y = 724

; 텍스트 위치
text_x = 513
text_y = 728

scene_end